language: node_js

cache:
  directories:
    - node_modules

node_js:
    - '4.2'
    - '5.0'

services:
    - docker

before_script:
    - npm install juttle@^0.2.0
    - docker pull juttle/graphite:1
    - docker run -d --name graphite -p 8080:80 -p 2003:2003 -v `pwd`/scripts/storage-schemas.conf:/opt/graphite/conf/storage-schemas.conf juttle/graphite:1

script:
    - npm run -s lint
    - npm test

after_script:
    - docker stop graphite
    - docker rm graphite
